.conteudo {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 100vh;
  width: 700px;
  position: absolute;
  left: -300px;
}

.info {
  width: 60%;
  margin-right: 90px;
  margin-top: 40px;
  color: #fff;
}

input {
  border: 1px solid #999999;
  border-radius: 22px;
  min-width: 250px;
  width: 50%;
  margin-right: 12px;
  background: transparent;
  font-size: 1.125rem;
  padding: 10px;
}
